Repository run-llama/llama_index, pull requests merged in 2023-09, with the labels that each got.

#7539 support Epsilla vector store;
  docs/community/integrations/vector_stores.md
  docs/core_modules/data_modules/storage/customization.md
  docs/core_modules/data_modules/storage/vector_stores.md
  docs/examples/vector_stores/EpsillaIndexDemo.ipynb
  llama_index/data_structs/struct_type.py
  llama_index/vector_stores/__init__.py
  llama_index/vector_stores/epsilla.py
  llama_index/vector_stores/registry.py
  tests/vector_stores/test_epsilla.py
Labels: vector store

#7497 Anyscale integration with LlamaIndex through LangChain
  CHANGELOG.md
  docs/core_modules/model_modules/llms/modules.md
  docs/examples/llm/anyscale.ipynb
  docs/examples/llm/llm_predictor.ipynb
  llama_index/bridge/langchain.py
  llama_index/llms/__init__.py
  llama_index/llms/anyscale.py
  llama_index/llms/anyscale_utils.py
  llama_index/llms/langchain_utils.py
  tests/llms/test_anyscale.py
Labels: llm

#7543 Elasticsearch vector store support
  CHANGELOG.md
  docs/community/integrations/vector_stores.md
  docs/core_modules/data_modules/storage/vector_stores.md
  docs/examples/vector_stores/ElasticsearchIndexDemo.ipynb
  docs/examples/vector_stores/Elasticsearch_demo.ipynb
  docs/examples/vector_stores/elasticsearch_auto_retriever.ipynb
  llama_index/vector_stores/__init__.py
  llama_index/vector_stores/elasticsearch.py
  tests/vector_stores/test_elasticsearch.py
Labels: vector store

#7811 Misc updates to `OpenAIEmbedding`
  docs/examples/customization/llms/AzureOpenAI.ipynb
  docs/examples/index_structs/knowledge_graph/KnowledgeGraphIndex_vs_VectorStoreIndex_vs_CustomIndex_combined.ipynb
  docs/examples/index_structs/knowledge_graph/NebulaGraphKGIndexDemo.ipynb
  docs/examples/index_structs/knowledge_graph/Neo4jKGIndexDemo.ipynb
  docs/examples/llm/azure_openai.ipynb
  docs/examples/node_postprocessor/MetadataReplacementDemo.ipynb
  docs/examples/query_engine/knowledge_graph_query_engine.ipynb
  docs/examples/query_engine/knowledge_graph_rag_query_engine.ipynb
  llama_index/embeddings/openai.py
  llama_index/llms/azure_openai.py
  llama_index/llms/openai_utils.py
Labels: embedding

#7813 Minor cleanup in embedding class
  benchmarks/embeddings/bench_embeddings.py
  llama_index/embeddings/base.py
  llama_index/indices/document_summary/retrievers.py
  llama_index/indices/knowledge_graph/base.py
  llama_index/indices/postprocessor/node_recency.py
  llama_index/indices/utils.py
  llama_index/indices/vector_store/base.py
  tests/embeddings/test_base.py
Labels: embedding

#7810 add pairwise evaluator + benchmark auto-merging retriever
  docs/examples/retrievers/auto_merging_retriever.ipynb
  llama_index/evaluation/__init__.py
  llama_index/evaluation/dataset_generation.py
  llama_index/evaluation/pairwise.py
  llama_index/node_parser/__init__.py
  llama_index/node_parser/hierarchical.py
Labels: evaluation

#7775 Add konko llm integration
  docs/core_modules/model_modules/llms/modules.md
  docs/examples/llm/Konko.ipynb
  llama_index/llms/__init__.py
  llama_index/llms/konko.py
  llama_index/llms/konko_utils.py
  tests/llms/test_konko.py
Labels: llm

#7792 Update ElasticsearchStore to return normalized similarities
  CHANGELOG.md
  llama_index/vector_stores/elasticsearch.py
  tests/vector_stores/test_elasticsearch.py
Labels: vector store

#7793 Do not auto-connect on ctor for postgres
  .vscode/settings.json
  CHANGELOG.md
  llama_index/vector_stores/postgres.py
  tests/vector_stores/test_postgres.py
Labels: vector store

#7783 `StorageContext.persist` supporting `Path`
  llama_index/storage/storage_context.py
  llama_index/utils.py
Labels: storage

#7794 add gradient llms and example
  docs/api_reference/llms.rst
  docs/api_reference/llms/gradient_base_model.rst
  docs/api_reference/llms/gradient_model_adapter.rst
  docs/core_modules/model_modules/llms/modules.md
  docs/examples/llm/gradient_base_model.ipynb
  docs/examples/llm/gradient_model_adapter.ipynb
  examples/gradient/Gradient Integration Demo.ipynb
  llama_index/llms/__init__.py
  llama_index/llms/gradient.py
  llama_index/llms/loading.py
Labels: llm
