Repository run-llama/llama_index, pull requests merged in 2023-08, with the labels that each got.

#7111 Integrate Rockset as a vector store
  CHANGELOG.md
  docs/core_modules/data_modules/storage/vector_stores.md
  docs/examples/vector_stores/RocksetIndexDemo.ipynb
  llama_index/vector_stores/__init__.py
  llama_index/vector_stores/registry.py
  llama_index/vector_stores/rocksetdb.py
  tests/vector_stores/test_rockset.py
Labels: vector store

#7342 Add BM25 retriever
  CHANGELOG.md
  docs/core_modules/query_modules/retriever/modules.md
  docs/core_modules/query_modules/retriever/usage_pattern.md
  docs/examples/retrievers/bm25_retriever.ipynb
  llama_index/retrievers/__init__.py
  llama_index/retrievers/bm25_retriever.py
Labels: retrieval

#7343 Integrate Monsterapi
  CHANGELOG.md
  docs/core_modules/model_modules/llms/modules.md
  docs/examples/llm/monsterapi.ipynb
  llama_index/llms/__init__.py
  llama_index/llms/llama_cpp.py
  llama_index/llms/monsterapi.py
Labels: llm

#7401 Integrate RunGPT For LLMs
  CHANGELOG.md
  docs/core_modules/model_modules/llms/modules.md
  docs/examples/llm/rungpt.ipynb
  llama_index/llms/rungpt.py
  tests/llms/test_rungpt.py
Labels: llm

#7282 update to_tool_list to add coroutine to to_tool_list() tools if available
  CHANGELOG.md
  llama_index/tools/tool_spec/base.py
  tests/tools/tool_spec/test_base.py
Labels: agent & tools

#7445 Add url metadata to SimpleWebPageReader
  CHANGELOG.md
  llama_index/readers/web.py
  tests/readers/test_simplewebreader.py
Labels: reader
